<template name="new_desaparecido">
    <b>Latitude: </b> {{lat}}
    <br />
    <b>Longitude </b>{{long}}
    <br />
    <br />
    <div class="form">
      {{#autoForm collection="Case" id="insertDesaparecidosForm" type="insert"}}
          <fieldset>
              <div class="form_left">
                {{> afQuickField name='titel'}}
                {{> afQuickField name='location'}}
                  <div class="lat_long">
              {{> afQuickField name='lat'}}
                {{> afQuickField name='long'}}
                  </div>
              
                {{> afQuickField name="dateCase" class="datepick" data-date-format="MM DD YYYY"}}

                {{>afQuickField name='deaths'}}
                {{> afQuickField name='desaparecidos'}}
              </div>
              <div class="form_right">
                {{> afQuickField name='description' rows=10}}
                {{> afFieldInput name="tags.$.tag" type="select-checkbox-inline" options=tagsOptions}}
                
              </div>
              <div class="form_bottom">
                {{> afQuickField name='news_source'}}
                {{> afQuickField name="picture"}}
              </div>
          </fieldset>
          <button type="submit" class="btn btn-primary">Insert</button>
      {{/autoForm}}
    </div>
</template>