<template name="header">
    <div class="header">
        <div style="margin-left: 10px;margin-bottom: 10px;overflow:hidden">
            <div class="header-element">
                <div class="number"><b>{{getDesaparecidos}}</b></div>
                 <div class="next_header">Desaparecidos</div>
            </div>
            <div class="header-element">
                <div class="number"><b>{{getDeaths}}</b></div>
                <div class="next_header">y muertos</div>
            </div>
                <div class="header-element">
                    <div class="next_header">desde </div>
                    <div class="number"><b>{{primeroDato}}</b></div>
                </div>
                    <div class="header-element">
                        <div class="next_header">hasta </div>
                        <div class="number"><b>{{ultimoDato}}</b></div>
                    </div>
        </div>
    </div>
    {{>slider}}
</template>