<template name="infoBox">

                {{>caseData}}

</template>
<template name="caseData">

        {{#if selected}}
            <div id="titel">{{ciudad}}</div>
            <hr/>
            {{fecha}}
            <br /><hr/>
            <div id="left">
                Muertos: {{muertos}}<br />
                Desaparecidos:{{desaparecidos}}<br />
            </div>

            <div id="right">
                <img src="{{picture}}" height="80px" width="80px">
            </div>
            <br/>
            <div style="clear:both;">Mas informaciones:<br/></div>
            <hr/>
            {{informaciones}}
            <hr/>
            {{#if checkFuente}}

                <a href="{{fuente}}" target="_blank">enlace de prensa</a>
                <br/>
            {{/if}}
            <a href="{{get_link}}" >mas informaciones</a>
            {{#if author}}

                <br/><br/>
                <button type="button" class="remove">remove</button>
                <button type="button" class="modify">modify</button>
            {{/if}}
        {{else}}
            <div><h2>Selectar desaparecido en el mapa.</h2></div>
            
        {{/if}}


</template>