<template name="map_container">
    {{#if ready}}
       {{>map}}
       {{else}}
       <h1><div id="spinner"></div>descargando base de datos</h1>

    {{/if}}
        <div id="map" class="map"></div>
</template>
<template name="map">
        <div id="loading">

    </div>

        <div id="progress"><div id="progress-bar"></div></div>

    <div class="notice">
        {{#if logedin}}
          {{>notice}}
        {{else}}
        {{>notice_login}}
    {{/if}}
    </div>

</template>

<template name="notice">
    
        Double-click on map creates a marker<br>
        Click on a marker to delete it
</template>
<template name="notice_login">
Create Account to add new desaparecidos<br>
</template>