<template name="infoBox">

                {{>caseData}}

</template>
<template name="caseData">

        {{#if selected}}
        <table class="infoBox">
            	<caption>
            	    <h1>{{selectedCase 'titel'}}</h1>
                    {{selectedCase 'dateCase'}}
                    {{selectedCase 'location'}}
            	</caption>

            	<tfoot>
            		<tr>
            		</tr>
            	</tfoot>
            	<tbody>
            	    <tr>
            	        {{selectedCase 'person.[0].name'}}
            	    </tr>
            		<tr>
            			<td>  
                			<tr>
                			    <td>Muertos:</td>
                			    <td>{{selectedCase 'muertos'}}</td>
                		    </tr>
                            <tr>
                			    <td>Desaparecidos:</td>
                			    <td>{{selectedCase 'desaparecidos'}}</td>
                		    </tr>
            		    </td>
            			<td><img src="{{picture}}" height="80px" width="80px"></td>
            		</tr>
            		<tr>
            			<td><h2>Descripción:</h2></td>
            		</tr>
            		<tr>
            			<td>{{selectedCase 'description'}}</td>
            		</tr>
            	</tbody>
            </table>

            {{#if checkFuente}}

                <a href="{{selectedCase 'fuente'}}" target="_blank">enlace de prensa</a>
                <br/>
            {{/if}}
            <a href="{{get_link}}" >mas informaciones</a>
            {{#if author}}

                <br/><br/>
                <button type="button" class="remove">remove</button>
                <button type="button" class="modify">modify</button>
            {{/if}}
        {{else}}
            <div><h2>Selectar desaparecido en el mapa.</h2></div>
            
        {{/if}}


</template>