<template name="main_template">

    <div class="top">
                <div class="numbers">{{>numbers}}</div>
                <div class="filters"> {{>filters}}
                    <div class="drop">{{>slider}}</div>
                </div>
            </div><!--/ top-->
            <div class="center">
                <div class="center_left">
                    <div class="map_container">{{>map_container}}</div>
                </div><!--/center_left -->
                <div class="center_right">
                    <div class="info_box">
                        {{>infoBox}}
                    </div>
                </div><!--/center_right-->
            </div><!--/center -->
</template>