<template name="createDialog">
    <div class="mask"> </div>
    <div class="modal">
        <div class="modal-header">
            <button type="button" class="close cancel">&times;</button>
            <h3>Add desaparecido</h3>
        </div>

        <div class="modal-body">
          {{>new_desaparecido}}
        </div>

        <!-- <div class="modal-footer">
             <a href="#" class="btn cancel">Cancel</a>
             <a href="#" class="btn btn-primary save">Add</a>
         </div>-->
    </div>
</template>
<template name="errorCountry">
    <div class="mask"> </div>
    <div class="modal">
        <div class="modal-header">
            <button type="button" class="close cancel">&times;</button>
            <h3>Error</h3>
        </div>

        <div class="modal-body">
            <b>You have selected a wrong country:  <h1>{{country}}</h1></b>
            <br/>
            but not Mexico.
        </div>

    </div>
</template>