<template name="footer">
    <div class="footer_element">
        <a href="https://github.com/moxor/desaparecidos"><img src="/images/github.png"></a>
        <br/>
        Fork it on 
        <a href="https://github.com/moxor/desaparecidos"> Github</a>.
        
    </div>
    <div class="footer_element">
        <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Licencia Creative Commons" style="border-width:0; align:center;" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">DesaparecuidosMX.org</span> por <a xmlns:cc="http://creativecommons.org/ns#" href="http://www.desaparecuidosmx.org" property="cc:attributionName" rel="cc:attributionURL">Aaron Kimmig</a> se distribuye bajo una 
        <br/>
        <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Licencia Creative Commons Atribución 4.0 Internacional</a>.
    </div>

</template>