/*insertForm*/
.form_left{
  float: left;
  width: 250px;
}
.form_right{
  margin-left: 30px;
  float: left;
  width: 300px;
}
.form_bottom{
    margin-top: 20px;
    display: table;
    width: 100%;
}
.form{
  margin-bottom: 30px;
}
#left,#right{
  float: left;
  display: inline-block;
}
#right{
margin-left: 20px;
  float: right;
 }
/*modify form admin*/
* {
    box-sizing: border-box;
}
.list-group-item.autoform-array-item .autoform-array-item-body {
    display: table-cell;
    vertical-align: top;
    width: 100%;
}
.list-group-item.autoform-array-item .autoform-remove-item-wrap {
    display: table-cell;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #FFF;
    border: 1px solid #DDD;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    height: 31px;
}
.btn-primary {
    border-color: #77342F;
    background-color: #FE820A;
    color: #FFF;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: "Glyphicons Halflings";
    font-style: normal;
    font-weight: normal;
    line-height: 1;
}
.form-control {
    display: block;
    width: 100%;
    height: 25px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #CCC;
    border-radius: 2px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
.list-group-item.autoform-array-item .autoform-array-item-body {
    display: table-cell;
    vertical-align: top;
    width: 100%;
}
.list-group-item.autoform-array-item .autoform-remove-item-wrap {
    display: table-cell;
}

.list-group-item.autoform-array-item > div {
    display: inline-flex;
}
.list-group-item.autoform-array-item .autoform-remove-item {
    vertical-align: top;
    margin-right: 15px;
}
.panel {
    margin-bottom: 20px;
    background-color: #FFF;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.panel-default > .panel-heading {
    color: #333;
    background-color: #F5F5F5;
    border-color: #DDD;
}
.form-group {
    margin-bottom: 10px;
margin-right: 10px;
}
.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline, .has-error.radio label, .has-error.checkbox label, .has-error.radio-inline label, .has-error.checkbox-inline label {
    color: #A94442;
}
.has-error .form-control {
    border-color: #A94442;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
}
#updateCaseForm{
    text-align: left;
    margin: 10px;
    background-color:rgba(255,255,255,0.7);
}